# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf
*.rpx
*.wuhb
*.wua

# Build folder
build/

# Tools folder
/cemu/*
!/cemu/.gitkeep
!/cemu/cafeLibs/glslcompiler.rpl
/tools/**
/tools/**/.gitkeep

# Assets folder
/source/assets/font/*
!/source/assets/font/*.tga

dist/wua/00050000102b2b2b_v0/content/
